name: Sonar Validation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      # Set up Gradle without needing ./gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build with Gradle (tests)
        run: gradle clean build test -x spotlessJavaCheck

      - name: Build and analyze with SonarQube
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR info
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: gradle build -x spotlessJavaCheck sonarqube --info
